
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ol,ul {list-style:none;margin:0;padding:0;}
/* start editing from here */
a{text-decoration:none;}
.clear{clear:both;}/* clear float */
img{max-width:100%;}
/*end reset*/
body {
	font-family:trebuchet ms, arial, sans-serif;
	font-size: 100%;
	background: #030;
}
.wrap{
	margin:0 auto;
	width:80%;
}
.wrapper{
	padding: 0 5%;
}
h2.style{
	font-size: 2em;
	color: #3C9686;
	font-family: 'Montserrat Alternates', sans-serif;
	text-transform: capitalize;
	letter-spacing: -1px;
	text-shadow: 0 1px 0 rgb(252, 252, 252);
}
p.para{
	font-size: 0.8725em;
	color: #666;
	line-height: 1.8em;
}
/*start header */
.header{
	padding: 0 2%;
	background: #2C8F00;
}
.menu {
	float: left;
}
.menu > ul > li {
  display:inline-block;
  position: relative;
  margin-right: -4px;
}

.menu > ul > li > a {
	display: block;
	text-transform: uppercase;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 0.8725em;
	color: #D4F8B9;
	line-height: 3.8em;
	padding: 14px 24px;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
	 border-left: 1px solid #87B862;
}
.menu > ul > li:nth-child(4) a{
	border-right: 1px solid #87B862;
}
.menu > ul > li > a:hover {
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
	background-color: #A1AD10;
}
/* start search */
.search{
	float: right;
	position: relative;
	width:24%;
	margin-top: 1.4%;
}
.search form{
		background: #87B862;
}
.search input[type="text"]{
	padding: 12px 16px;
	outline: none;
	color: #D4F8B9;
	background: none;
	border: none;
	width: 75.33333%;
	line-height: 1.5em;
	position: relative;
	font-size: 0.825em;
	text-transform: capitalize;
}
.search input[type="submit"]{
	background: url('../images/search.png') no-repeat 10px 10px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 16.33%;
	position: absolute;
	line-height: 1.5em;
	right: 0px;
	outline: none;
}
/*main*/
.main_bg{
	background-image: url(pic3.jpg);
}
.main{
	padding: 4%;
}
.content{
	text-align:center;
}
.content h2{
	font-size: 2em;
	color: #87B862;
	letter-spacing: 1px;
}
.content h3{
	line-height: 1.5em;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 10em;
	color: #2C8F00;
	letter-spacing: -4px;
	text-shadow: 0 3px 0 #192B23;
}
/*main_bg1*/
.main_bg1{
	background: #f6f6f6;
}
/*  GRID OF THREE */
.grid_1_of_3{
	display: block;
	margin-left: 4%;
}
.grid_1_of_3:first-child { 
	margin-left: 0; 
} 
.images_1_of_3 {
	float:left;
	width:30.333%;
}
.images_1_of_3  img {
	margin: 8% 0;
}
.images_1_of_3 img {
	box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-moz-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
	-o-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
}
/* btn styel*/
.rd_more{
	margin-top: 4%;
}
.btn{
	color: #555555;
	display: inline-block;
	padding: 0 15px;
	height: 36px;
	line-height: 36px;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;
	background: url(../images/button.png) repeat-x;
	box-shadow: 0 0 5px #fff inset,0 1px 1px rgba(0,0,0,.33);
	-webkit-box-shadow: 0 0 5px #fff inset,0 1px 1px rgba(0,0,0,.33);
	-moz-box-shadow: 0 0 5px #fff inset,0 1px 1px rgba(0,0,0,.33);
	-o-box-shadow: 0 0 5px #fff inset,0 1px 1px rgba(0,0,0,.33);
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.btn:hover{
	background: url(../images/button.png) 0 -36px repeat-x;
}
/* main btm*/
.main1{
	border-top: 1px solid #E9E9E9;
	padding:4%;
}
.text1-nav{
	margin-top: 4%;
}
.text1-nav ul li{
	float: left;
	line-height: 2.8em;
	border-bottom: 1px solid #EEEEEE;
}
.text1-nav ul li:before{
	float:left;
	content: url('../images/marker.png');
	vertical-align: middle;
	margin:8px 4px 0 0;
}
.text1-nav ul li a{
	font-size: 0.8725em;
	color: #666666;

}
.text1-nav ul li a:hover{
	color:#333;
}
p.date{
	background: #A5AC01;
	color: #ffffff;
	font-size: 1em;
	padding: 10px;
	display: inline-block;
	font-family: 'Montserrat Alternates', sans-serif;
}
.top{
	margin-top: 4%;
}
/* start footer */
.contact-social{
	float:right;
}
.contact-social ul li{
	display:inline-block;
}
.contact-social ul li a{
	display:block;
}
.contact-social ul li img{
	display:block;
}
.contact-social ul li a{
	background: #666666;
	padding: 10px;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-o-border-radius:50px;
}
.copy{
	float:left;
	margin-top:1%;
}
.copy p{
	text-transform: uppercase;
	font-size: 0.8125em;
	color: #666666;
	line-height: 1.8em;
}
.copy p a{
	color: #3C9686;
}

